body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0097d2;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead, tfoot {
  background-color: gray;
  color: white;
}

th, td {
  padding: 15px;
}

.details {
  border-radius: 4px;
  background-color: gray;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  transition: 0.3s;
}

.details:hover {
  background-color: lightgray;
  color: black;
}